#include "../../PlugConst.h"
#include "defines.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS
#ifdef _WIN32
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)
#endif 

IDB_PLUGINBITMAP        BITMAP  DISCARDABLE     "menuicon.bmp"

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_PLUGINFULLNAME      STR_TITLE
    IDS_PLUGINFILEEXTENSION STR_EXTENSION
    IDS_PLUGINSTATUSSTRING  STR_STATUS
    IDS_PLUGINOKMESSAGE     STR_MESSAGE
END
